# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/WriteLog.VC.db
/WriteLog.VC.VC.opendb
*.log
*.tlog
*.pdb
*.ilk
.vs/WriteLog/v14/.suo
*.idb
*.ipch
